<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css"/>
    <script type="text/javascript" src="/js/home.js"></script>
    <title>자리 안내 서비스</title>
</head>
<body>
<h1 id="title">좌석 안내 서비스 입니당당구리.</h1>
<div id="gridseatinfo">
    <p id="seatinfo">잔여좌석 안내</p>
    <p>이용중 : <span>5</span>석</p>
    <p>이용 가능 : 1석</p>
    <p>자리 비움 : 2석</p>
</div>
<div id ="grid_backmap">
    <div>
        <div id="backmap">
            <div id="window">
                <p>창가</p>
            </div>
            <div id="gridmap">
                <div>
                    <p id="studyroom">스터디룸</p>
                </div>
                <div>
                    <div th:each="seat : ${seats}" th:switch="${seat.status.toString()}">
                        <div id="seats">
                            <button th:case="EMPTY" class="seatbutton emptyseat" onclick="alert('이미 비어있는 자리입니다.')"
                                    th:text="${seat.seatNum}">
                            </button>
                            <button th:case="AWAY" class="seatbutton helpseat"
                                    onclick="document.getElementById('id01').style.display='block'"
                                    th:text="${seat.seatNum}">
                            </button>
                            <button th:case="FULL" class="seatbutton usingseat" onclick="alert('자리비움 신청 불가')"
                                    th:text="${seat.seatNum}">
                            </button>
                        </div>
                        <div id="id01" class="modal">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                            <form class="modal-content" action="/home">
                                <div class="container">
                                    <h1>자리 비움 요청</h1>
                                    <p>자리 비움 요청을 하시겠습니까?</p>

                                    <div class="clearfix">
                                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                                class="cancelbtn">취소
                                        </button>
                                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                                class="deletebtn">자리 비움 요청
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gridstateseat">
            <p><span style="color:red">●</span> 이용중</p>
            <p><span style="color:greenyellow">●</span> 이용 가능</p>
            <p><span style="color:yellow">●</span>자리 비움</p>
        </div>
    </div>
    <div id ="admin_alam">
        <div class="alam">
            <p class="alam_text">[18:41] 4번 좌석 자리비움 요청</p>
        </div>
        <div class="alam">
            <p class="alam_text">[18:41] 4번 좌석 자리비움 요청</p>
        </div>
        <div class="alam">
            <p class="alam_text">[18:41] 4번 좌석 자리비움 요청</p>
        </div>
        <div class="alam">
            <p class="alam_text">[18:41] 4번 좌석 자리비움 요청</p>
        </div>
        <div class="alam">
            <p class="alam_text">[18:41] 4번 좌석 자리비움 요청</p>
        </div>
        <div class="alam">
            <p class="alam_text">[18:31] 1번 좌석 자리비움 요청</p>
        </div>
        <div class="alam">
            <p class="alam_text">[18:41] 4번 좌석 자리비움 요청</p>
        </div>
    </div>
</div>
</body>
</html>