body {
    margin: 20px;
}

@media(min-width:800px){
    body {
        width: 800px;
        margin: 0 auto;
    }
}

#title {
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:0;
    margin-top: 30px;
    color: black;
}

#manager {
    font-size: medium;
    margin-left: 10px;
    margin-top: auto;
}

.title_font {
    margin: 0;
    font-family: 'Syncopate';
    font-weight: bold;
}

.font {
    font-family: 'Gothic A1';
}


#gridseatinfo {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top:20px;
}

#window {
    text-align: center;
    padding:1px;
    border: 3px solid rgba(0, 0, 0, 70%);
    background-color: white;
    margin: 15px 15px 0;
    border-radius: 10px;
}

#gridmap {
    display: grid;
    grid-template-columns: 10% 1fr;
}

#studyroom {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 300% 35%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 3px solid rgba(0, 0, 0, 70%);
    background-color: white;
}

#seats {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    margin-left: 50px;
    margin-right: 50px;
}

#gridstateseat {
    margin-top: 20px;
    border-radius: 10px;
    display: grid;
    text-align: center;
    border: 1px solid black;
    grid-template-columns: auto auto auto;
}

#seatinfo {
    text-align: center;
    border-right: 1px solid black;
    border-radius: 10px;
    margin: 0;
    padding-top: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 30%);
}

#backmap {
    background-color: rgba(0, 0, 0, 5%);
    padding-top: 5px;
    border-radius: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


#grid_backmap {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#admin_alam {
    background-color: rgba(0, 0, 0, 5%);
    border-radius: 10px;
    margin-left:20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.alam_name {
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 10px;
    padding:18px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.alam {
    background-color: rgba(96,96,96,0.4);
    margin:10px;
    border-radius: 10px;
    padding: 15px;
    color: rgb(255 255 255);
}

.seatbutton {
    padding: 9% 30%;
    border: 0;
    border-radius: 10px;
    margin: 15% 0;
    font-size: 180%;
    cursor: pointer;
    color: black;
    font-family: 'Space Mono';
    background-color: white;
}

.usingseat {
    border: 3px solid rgb(254, 65, 65);
    box-shadow: 0 6px rgb(254, 65, 65);
}

.emptyseat {
    border: 3px solid rgb(61, 171, 49);
    box-shadow: 0px 6px rgb(61, 171, 49);
}

.helpseat {
    border: 3px solid rgb(238, 221, 64);
    box-shadow: 0px 6px rgb(238, 221, 64);
}

.usingseatbtn {
    background-color: rgb(254, 65, 65);
}

.emptyseatbtn {
    background-color: rgb(61, 171, 49);
}

.helpseatbtn {
    background-color: rgb(238, 221, 64);
}

* {box-sizing: border-box}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn, .deletebtn {
    align-content: center;
    width: 20%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
    font-family: 'Gothic A1';
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: #474e5d;*/
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 30%;
    }
}